{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="containter">
    <div class="row justify-content-center">
        <div class="col-3">
            <h2>Где нас найти</h2>
            <div>
                <p>Компания "Copy Star". Продажа копировального оборудования.</p>
                <p>Адрес: г. Москва, ул. Печатная, д.4</p>
                <p>Тел: 111-11-11</p>
                <p>email: contact@copystar.ru</p>
                <br>
                <img src="{% static "images/map.jpg" %}" height="400px"> </img>
            </div>
        </div>
    </div>
</div>
{% endblock %}

